<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from dashui.codescandy.com/dashuipro/pages/dashboard-ecommerce.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Apr 2024 13:12:51 GMT -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Codescandy">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-M8S4MT3EYG');
  </script>


  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/x-icon"
    href="https://dashui.codescandy.com/dashuipro/assets/images/favicon/favicon.ico">


  <!-- Libs CSS -->
  <link href="../admin/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="../admin/assets/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="../admin/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">



  <!-- Theme CSS -->
  <link rel="stylesheet" href="../admin/assets/css/theme.min.css">
  <title>MacHive</title>
</head>

<body>
  <main id="main-wrapper" class="main-wrapper">
    <div class="header">
      <!-- navbar -->
      <div class="navbar-custom navbar navbar-expand-lg">
        <div class="container-fluid px-0">
          <a class="navbar-brand d-block d-md-none" href="https://dashui.codescandy.com/dashuipro/index.html">
            <img src="https://dashui.codescandy.com/dashuipro/assets/images/brand/logo/logo-2.svg" alt="Image">
          </a>



          <a id="nav-toggle" href="#!" class="ms-auto ms-md-0 me-0 me-lg-3 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
              class="bi bi-text-indent-left text-muted" viewBox="0 0 16 16">
              <path
                d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
            </svg></a>

          
          <!--Navbar nav -->
          <ul class="navbar-nav navbar-right-wrap ms-lg-auto d-flex nav-top-wrap align-items-center ms-4 ms-lg-0">
            <a href="#" class="form-check form-switch theme-switch btn btn-ghost btn-icon rounded-circle mb-0 ">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault"></label>

            </a>
            </li>
            <!-- List -->
            
          </ul>
        </div>
      </div>
    </div>
    <!-- navbar vertical -->
    <!-- Sidebar -->

    <div class="navbar-vertical navbar nav-dashboard">
      <div class="h-100" data-simplebar>
        <!-- Brand logo -->
        <a class="navbar-brand" href="https://dashui.codescandy.com/dashuipro/index.html">
          <h3>MacHive</h3>
          <!-- <img src="https://dashui.codescandy.com/dashuipro/assets/images/brand/logo/logo-2.svg" alt="dash ui - bootstrap 5 admin dashboard template"> -->
        </a>
        <!-- Navbar nav -->
        <ul class="navbar-nav flex-column" id="sideNavbar">

          <li class="nav-item">
            <a class="nav-link has-arrow  active" href="/admin/dashboard">
              <i data-feather="home" class="nav-icon me-2 icon-xxs"></i>
              Dashboard
            </a>
          </li>


          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link has-arrow" href="/admin/customers">
              <i data-feather="calendar" class="nav-icon me-2 icon-xxs">
              </i> Users
            </a>
          </li>

          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link has-arrow  collapsed " href="#!" data-bs-toggle="collapse" data-bs-target="#navEmail"
              aria-expanded="false" aria-controls="navEmail">
              <i data-feather="mail" class="nav-icon me-2 icon-xxs">
              </i> Categories
            </a>

            <div id="navEmail" class="collapse " data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/categories">

                    Categories
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/AddCategories">

                    Add Categories
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link has-arrow  collapsed " href="#!" data-bs-toggle="collapse" data-bs-target="#navKanban"
              aria-expanded="false" aria-controls="navKanban">
              <i data-feather="layout" class="nav-icon me-2 icon-xxs">
              </i> Products
            </a>

            <div id="navKanban" class="collapse " data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/products">

                    Products
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/AddProducts">

                    Add Products
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- Nav item -->

          <li class="nav-item">
            <a class="nav-link has-arrow  collapsed " href="#!" data-bs-toggle="collapse" data-bs-target="#navCRM"
              aria-expanded="false" aria-controls="navCRM">
              <i data-feather="pie-chart" class="nav-icon me-2 icon-xxs">
              </i>

              Coupons
            </a>

            <div id="navCRM" class="collapse " data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">


                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/coupons">

                    Coupons
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/AddCoupons">

                    Add Coupons
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link has-arrow  collapsed " href="#!" data-bs-toggle="collapse" data-bs-target="#navblog"
              aria-expanded="false" aria-controls="navblog">
              <i data-feather="edit" class="nav-icon me-2 icon-xxs">
              </i> Offers
            </a>

            <div id="navblog" class="collapse " data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a class="nav-link has-arrow " href="blog-author.html">

                    Offers
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="blog-author-detail.html">

                    Add Offers
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- Nav item -->
          <li class="nav-item ">
            <a class="nav-link   collapsed  " href="#!" data-bs-toggle="collapse" data-bs-target="#navProject"
              aria-expanded="false" aria-controls="navProject">
              <i class="nav-icon me-2 icon-xxs" data-feather="file"></i> Orders
            </a>
            <div id="navProject" class="collapse " data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link " href="/admin/orders">
                    Orders
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  " href="/admin/salesReport">
                    Sales Report
                  </a>
                </li>

              </ul>
            </div>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link collapsed" href="#" id="logout-link" aria-expanded="false" style="color: red;">🡸 Log out</a>
        </li>


        </ul>

      </div>
    </div>




    <!-- page content -->
    <div id="app-content">

      <div class="app-content-area">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <!-- Page header -->
              <div class="d-flex justify-content-between mb-5 align-items-center">
                <h3 class="mb-0 ">Admin Dashboard</h3>
              </div>
            </div>
          </div>
          <div class="row row-cols-1  row-cols-xl-4 row-cols-md-2 ">
            <div class="col mb-5">
              <div class="card h-100 card-lift">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="text-muted fw-semi-bold ">Orders</span>
                    <span><i data-feather="shopping-cart" class="text-info"></i></span>

                  </div>
                  <div class="mt-4 mb-3 d-flex align-items-center lh-1">
                    <h3 class="fw-bold  mb-0"><%= orders.length  %></h3>
                  </div>
                  <a href="/admin/orders" class="btn-link fw-semi-bold">View Orders</a>
                </div>
              </div>
            </div>
            <div class="col mb-5">
              <div class="card h-100 card-lift">
                  <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                          <span class="text-muted fw-semi-bold ">Revenue</span>
                          <span><i data-feather="dollar-sign" class="text-info"></i></span>
                      </div>
                      <div class="mt-4 mb-3 d-flex align-items-center lh-1">
                          <h3 class="fw-bold mb-0">
                            ₹ <%= totalRevenue %>
                          </h3>
                      </div>
                      <a href="/admin/salesReport" class="btn-link fw-semi-bold">View Earnings</a>
                  </div>
              </div>
          </div>
          
            <div class="col mb-5">
              <div class="card h-100 card-lift">
                  <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                          <span class="text-muted fw-semi-bold ">Customer</span>
                          <span><i data-feather="user" class="text-info"></i></span>
                      </div>
                      <div class="mt-4 mb-3 d-flex align-items-center lh-1">
                          <h3 class="fw-bold mb-0"><%= totalCustomers %></h3>
                      </div>
                      <a href="/admin/customers" class="btn-link fw-semi-bold">All Customer</a>
                  </div>
              </div>
          </div>
          
            <div class="col mb-5">
              <div class="card h-100 card-lift">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="text-muted fw-semi-bold ">Products</span>
                    <span><i data-feather="credit-card" class="text-info"></i></span>

                  </div>
                  <div class="mt-4 mb-3 d-flex align-items-center lh-1">
                    <h3 class="fw-bold  mb-0"><%= totalProducts  %></h3>

                  </div>
                  <a href="/admin/products" class="btn-link fw-semi-bold">All Products</a>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-xl-12 col-12 mb-5">
                <div class="card h-100">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4 class="mb-0">Revenue</h4>
                        <div role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" checked>
                            <label class="btn btn-outline-white btn-sm" for="btnradio1">All</label>
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                            <label class="btn btn-outline-white btn-sm" for="btnradio2">1M</label>
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3">
                            <label class="btn btn-outline-white btn-sm" for="btnradio3">6M</label>
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio4">
                            <label class="btn btn-outline-white btn-sm" for="btnradio4">1Y</label>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="revenueChart"></div>
                        <div class="mt-4 px-lg-6">
                            <div class="row bg-light rounded-3">
                                <div class="col-lg-4 col-md-6">
                                    <div class="p-4">
                                        <span><i class="mdi mdi-circle small me-1 text-primary"></i>Current Week</span>
                                        <h3 class="mb-0 mt-2">₹<%= currentWeekEarnings.toLocaleString() %></h3>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="p-4">
                                        <span><i class="mdi mdi-circle small me-1 text-info"></i>Past Week</span>
                                        <h3 class="mb-0 mt-2">₹<%= pastWeekEarnings.toLocaleString() %></h3>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="p-4">
                                        <span>Today's Earning:</span>
                                        <h3 class="mb-0 mt-2">₹<%= todaysEarnings.toLocaleString() %></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xl-4 col-12 mb-5">
                <div class="card h-100">
                    <div class="card-header">
                        <h4 class="mb-0">Total Sales</h4>
                    </div>
                    <div class="card-body">
                        <div id="totalSale" class="d-flex justify-content-center"></div>
                        <table class="table table-sm table-borderless mb-0 mt-5">
                            <tbody>
                                <tr>
                                    <td><i class="mdi mdi-square-rounded text-primary fs-5 me-2"></i>Direct</td>
                                    <td class="text-end">₹1200.42</td>
                                </tr>
                                <tr>
                                    <td><i class="mdi mdi-square-rounded text-warning fs-5 me-2"></i>Affiliate</td>
                                    <td class="text-end">₹353.42</td>
                                </tr>
                                <tr>
                                    <td><i class="mdi mdi-square-rounded text-danger fs-5 me-2"></i>Sponsored</td>
                                    <td class="text-end">₹413.31</td>
                                </tr>
                                <tr>
                                    <td><i class="mdi mdi-square-rounded text-info fs-5 me-2"></i>E-mail</td>
                                    <td class="text-end">₹235.72</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
        </div>
        
          <div class="row">
            <div class="col-xl-6 col-lg-6 mb-5">
              <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center ">

                  <h4 class="mb-0">Best Selling Products</h4>
                  

                </div>
                <div class="card-body">
                  <div class="table-responsive table-card">
                    <table class="table text-nowrap mb-0 table-centered">
                      <thead class="table-light">
                        <tr>
                          <th>Product Name</th>
                          <th>Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                         
                          <td><a href="#!" class="text-inherit"><%= bestProduct.name %></a></td>
                          <td class="  text-dark">₹ 80000</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 mb-5">
              <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center ">

                  <h4 class="mb-0">Best Selling Category</h4>
                  

                </div>
                <div class="card-body">
                  <div class="table-responsive table-card">
                    <table class="table text-nowrap mb-0 table-centered">
                      <thead class="table-light">
                        <tr>
                          <th>Image</th>
                          <th>Product Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="#!"><img src="<%= bestCategory.image %>" alt="Image"
                                class="img-4by3-xs rounded"></a></td>
                          <td><a href="#!" class="text-inherit"><%= bestCategory.name %></a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Scripts -->


  <!-- Libs JS -->
  <script src="../admin/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../admin/assets/libs/feather-icons/dist/feather.min.js"></script>
  <script src="../admin/assets/libs/simplebar/dist/simplebar.min.js"></script>

  <!-- Theme JS -->
  <script src="../admin/assets/js/theme.min.js"></script>
  <!-- jsvectormap -->
  <script src="../admin/assets/libs/jsvectormap/dist/js/jsvectormap.min.js"></script>
  <script src="../admin/assets/libs/jsvectormap/dist/maps/world.js"></script>
  <script src="../admin/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="../admin/assets/js/vendors/chart.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <script>
    document.getElementById('logout-link').addEventListener('click', function (e) {
        e.preventDefault();
        
        Swal.fire({
            title: 'Are you sure?',
            text: "Are you sure want to log out?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, log out!'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/admin/logout', {
                    method: 'POST',
                    credentials: 'include'
                })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '/admin';
                    } else {
                        Swal.fire('Error!', 'Logout failed!', 'error');
                    }
                })
                .catch(error => {
                    Swal.fire('Error!', 'Logout failed!', 'error');
                });
            }
        });
    });
    </script>

</body>


<!-- Mirrored from dashui.codescandy.com/dashuipro/pages/dashboard-ecommerce.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Apr 2024 13:13:27 GMT -->

</html>