<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from dashui.codescandy.com/dashuipro/pages/ecommerce-products-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Apr 2024 13:13:39 GMT -->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Codescandy">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-M8S4MT3EYG');
  </script>


  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/x-icon"
    href="https://dashui.codescandy.com/dashuipro/assets/images/favicon/favicon.ico">


  <!-- Libs CSS -->
  <link href="/admin/assets/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="/admin/assets/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="/admin/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">



  <!-- Theme CSS -->
  <link rel="stylesheet" href="/admin/assets/css/theme.min.css">
  <!-- tns slider -->
  <link href="/admin/assets/libs/tiny-slider/dist/tiny-slider.css" rel="stylesheet">
  <title>Product Details | Dash UI - Responsive Bootstrap 5 Admin Dashboard</title>
</head>

<body>
  <!-- Wrapper -->
  <main id="main-wrapper" class="main-wrapper">
    <div class="header">
      <!-- navbar -->
      <div class="navbar-custom navbar navbar-expand-lg">
        <div class="container-fluid px-0">
          <a class="navbar-brand d-block d-md-none" href="https://dashui.codescandy.com/dashuipro/index.html">
            <img src="https://dashui.codescandy.com/dashuipro/assets/images/brand/logo/logo-2.svg" alt="Image">
          </a>



          <a id="nav-toggle" href="#!" class="ms-auto ms-md-0 me-0 me-lg-3 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
              class="bi bi-text-indent-left text-muted" viewBox="0 0 16 16">
              <path
                d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
            </svg></a>

          <div class="d-none d-md-none d-lg-block">
            <!-- Form -->
            <form action="#">


              <div class="input-group ">
                <input class="form-control rounded-3" type="search" value="" id="searchInput" placeholder="Search">
                <span class="input-group-append">
                  <button class="btn  ms-n10 rounded-0 rounded-end" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-search text-dark">
                      <circle cx="11" cy="11" r="8"></circle>
                      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                  </button>
                </span>
              </div>
            </form>
          </div>
          <!--Navbar nav -->
          <ul class="navbar-nav navbar-right-wrap ms-lg-auto d-flex nav-top-wrap align-items-center ms-4 ms-lg-0">
            <a href="#" class="form-check form-switch theme-switch btn btn-ghost btn-icon rounded-circle mb-0 ">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault"></label>

            </a>
            </li>

            <li class="dropdown stopevent ms-2">
              <a class="btn btn-ghost btn-icon rounded-circle" href="#!" role="button" id="dropdownNotification"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-xs" data-feather="bell"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end" aria-labelledby="dropdownNotification">
                <div>
                  <div class="border-bottom px-3 pt-2 pb-3 d-flex
              justify-content-between align-items-center">
                    <p class="mb-0 text-dark fw-medium fs-4">Notifications</p>
                    <a href="#!" class="text-muted">
                      <span>
                        <i class="me-1 icon-xs" data-feather="settings"></i>
                      </span>
                    </a>
                  </div>
                  <div data-simplebar style="height: 250px;">
                    <!-- List group -->
                    <ul class="list-group list-group-flush notification-list-scroll">
                      <!-- List group item -->
                      <li class="list-group-item bg-light">


                        <a href="#!" class="text-muted">
                          <h5 class=" mb-1">Rishi Chopra</h5>
                          <p class="mb-0">
                            Mauris blandit erat id nunc blandit, ac eleifend dolor pretium.
                          </p>
                        </a>



                      </li>
                      <!-- List group item -->
                      <li class="list-group-item">


                        <a href="#!" class="text-muted">
                          <h5 class=" mb-1">Neha Kannned</h5>
                          <p class="mb-0">
                            Proin at elit vel est condimentum elementum id in ante. Maecenas et sapien metus.
                          </p>
                        </a>



                      </li>
                      <!-- List group item -->
                      <li class="list-group-item">


                        <a href="#!" class="text-muted">
                          <h5 class=" mb-1">Nirmala Chauhan</h5>
                          <p class="mb-0">
                            Morbi maximus urna lobortis elit sollicitudin sollicitudieget elit vel pretium.
                          </p>
                        </a>



                      </li>
                      <!-- List group item -->
                      <li class="list-group-item">


                        <a href="#!" class="text-muted">
                          <h5 class=" mb-1">Sina Ray</h5>
                          <p class="mb-0">
                            Sed aliquam augue sit amet mauris volutpat hendrerit sed nunc eu diam.
                          </p>
                        </a>



                      </li>
                    </ul>
                  </div>
                  <div class="border-top px-3 py-2 text-center">
                    <a href="#!" class="text-inherit ">
                      View all Notifications
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <!-- List -->
            <li class="dropdown ms-2">
              <a class="rounded-circle" href="#!" role="button" id="dropdownUser" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-md avatar-indicators avatar-online">
                  <img alt="avatar" src="/admin/assets/images/avatar/avatar-11.jpg" class="rounded-circle">
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                <div class="px-4 pb-0 pt-2">


                  <div class="lh-1 ">
                    <h5 class="mb-1"> John E. Grainger</h5>
                    <a href="#!" class="text-inherit fs-6">View my profile</a>
                  </div>
                  <div class=" dropdown-divider mt-3 mb-2"></div>
                </div>

                <ul class="list-unstyled">

                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="#!">
                      <i class="me-2 icon-xxs dropdown-item-icon" data-feather="user"></i>Edit
                      Profile
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#!">
                      <i class="me-2 icon-xxs dropdown-item-icon" data-feather="activity"></i>Activity Log
                    </a>


                  </li>


                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="#!">

                      <i class="me-2 icon-xxs dropdown-item-icon" data-feather="settings"></i>Settings
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="https://dashui.codescandy.com/dashuipro/index.html">
                      <i class="me-2 icon-xxs dropdown-item-icon" data-feather="power"></i>Sign Out
                    </a>
                  </li>
                </ul>

              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- navbar vertical -->
    <!-- Sidebar -->

    <div class="navbar-vertical navbar nav-dashboard">
      <div class="h-100" data-simplebar>
        <!-- Brand logo -->
        <a class="navbar-brand">
          <h3>MacHive</h3>
        </a>
        <!-- Navbar nav -->
        <ul class="navbar-nav flex-column" id="sideNavbar">

          <li class="nav-item">
            <a class="nav-link has-arrow " href="/admin/dashboard">
              <i data-feather="home" class="nav-icon me-2 icon-xxs"></i>
              Dashboard
            </a>
          </li>


          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link has-arrow" href="/admin/customers">
              <i data-feather="calendar" class="nav-icon me-2 icon-xxs">
              </i> Users
            </a>
          </li>

          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link has-arrow  collapsed " href="#!" data-bs-toggle="collapse" data-bs-target="#navEmail"
              aria-expanded="false" aria-controls="navEmail">
              <i data-feather="mail" class="nav-icon me-2 icon-xxs">
              </i> Categories
            </a>

            <div id="navEmail" class="collapse " data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/categories">

                    Categories
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/AddCategories">

                    Add Categories
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link has-arrow  collapsed " href="#!" data-bs-toggle="collapse" data-bs-target="#navKanban"
              aria-expanded="false" aria-controls="navKanban">
              <i data-feather="layout" class="nav-icon me-2 icon-xxs">
              </i> Products
            </a>

            <div id="navKanban" class="collapse show" data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/products">

                    Products
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/AddProducts">

                    Add Products
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- Nav item -->

          <li class="nav-item">
            <a class="nav-link has-arrow  collapsed " href="#!" data-bs-toggle="collapse" data-bs-target="#navCRM"
              aria-expanded="false" aria-controls="navCRM">
              <i data-feather="pie-chart" class="nav-icon me-2 icon-xxs">
              </i>

              Coupons
            </a>

            <div id="navCRM" class="collapse " data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">


                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/coupons">

                    Coupons
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/AddCoupons">

                    Add Coupons
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- Nav item -->
          <li class="nav-item">
            <a class="nav-link has-arrow  collapsed " href="#!" data-bs-toggle="collapse" data-bs-target="#navblog"
              aria-expanded="false" aria-controls="navblog">
              <i data-feather="edit" class="nav-icon me-2 icon-xxs">
              </i> Offers
            </a>

            <div id="navblog" class="collapse " data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/offers">

                    Offers
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link has-arrow " href="/admin/AddOffers">

                    Add Offers
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- Nav item -->
          <li class="nav-item ">
            <a class="nav-link   collapsed  " href="#!" data-bs-toggle="collapse" data-bs-target="#navProject"
              aria-expanded="false" aria-controls="navProject">
              <i class="nav-icon me-2 icon-xxs" data-feather="file"></i> Orders
            </a>
            <div id="navProject" class="collapse " data-bs-parent="#sideNavbar">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link " href="/admin/orders">
                    Orders
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  " href="/admin/salesReport">
                    Sales Report
                  </a>
                </li>

              </ul>
            </div>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link collapsed" href="#" id="logout-link" aria-expanded="false" style="color: red;">🡸 Log out</a>
        </li>


        </ul>

      </div>
    </div>


    <!-- Page Content -->

    <div id="app-content">
      <!-- Container fluid -->
      <div class="app-content-area">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <!-- Page header -->
              <div class="mb-5">
                <h3 class="mb-0 ">Products Details</h3>
              </div>
            </div>
          </div>
          <div>
            <!-- row -->
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <!-- card body -->
                  <div class="card-body p-5">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="product" id="product">
                          <div>
                            <div>
                              <!-- img -->
                              <img src="<%= variant.image %>" alt="" class="img-fluid">
                            </div>

                          </div>
                          <div>
                            <div>
                              <!-- img -->
                              <img src="<%= variant.image %>" alt="" class="img-fluid">
                            </div>

                          </div>
                          <div>
                            <div>
                              <!-- img -->
                              <img src="/admin/assets/images/ecommerce/product-3.jpg" alt="Image" class="img-fluid">
                            </div>

                          </div>
                          <div>
                            <div>
                              <!-- img -->
                              <img src="/admin/assets/images/ecommerce/product-4.jpg" alt="Image" class="img-fluid">
                            </div>

                          </div>

                        </div>
                        <!-- product tools -->
                        <div class="product-tools">
                          <div class="thumbnails row g-3" id="product-thumbnails">
                            <div class="col-3">
                              <div class="thumbnails-img">
                                <!-- img -->
                                <img src="<%= variant.image %>" alt="Image">
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="thumbnails-img">
                                <!-- img -->
                                <img src="<%= variant.image %>" alt="Image">
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="thumbnails-img">
                                <!-- img -->
                                <img src="/admin/assets/images/ecommerce/product-3.jpg" alt="Image">
                              </div>
                            </div>
                            <div class="col-3">
                              <div class="thumbnails-img">
                                <!-- img -->
                                <img src="/admin/assets/images/ecommerce/product-4.jpg" alt="Image">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-12">
                        <div class="my-5 mx-xl-10">
                          <div>
                            <!-- heading -->
                            <h1>
                              <%= variant.name %>
                            </h1>
                            <div>
                              <span>
                                <span class="me-2 text-dark">4.4<i class="mdi mdi-star text-success"></i></span>
                                592 Customer Reviews
                              </span>
                            </div>
                            <hr class="my-3">
                            <div class="mb-5">
                              <% function calculateDiscountPercentage(regularPrice, salePrice) { return (((regularPrice - salePrice) / regularPrice) * 100).toFixed(2); } %>
                              <% if (variants.length > 0) { %>
                                <% const variant = variants[0]; %>
                                <h4 class="mb-1">
                                  <%= variant.salePrice %>
                                  <span class="text-muted text-decoration-line-through">
                                    <%= variant.regularPrice %>
                                  </span>
                                  <span class="text-warning">(<%= calculateDiscountPercentage(variant.regularPrice, variant.salePrice) %>% OFF)</span>
                                </h4>
                              <% } else { %>
                                <p>No variants available</p>
                              <% } %>
                              <span>inclusive of all taxes</span>
                            </div>
                            

                            <div class="mb-4 d-md-flex justify-content-between align-items-center">
                              <h4 class="mb-2 mb-md-0">RAM</h4>
                              <div>
                                <h5><%= variants.length > 0 ? variants[0].ram : 'N/A' %></h5>
                              </div>
                            </div>
                            
                            <div class="mb-4 d-md-flex justify-content-between align-items-center">
                              <h4 class="mb-2 mb-md-0">ROM</h4>
                              <div>
                                <h5><%= variants.length > 0 ? variants[0].rom : 'N/A' %></h5>
                              </div>
                            </div>
                            
                            <div class="mb-4 d-md-flex justify-content-between align-items-center">
                              <h4 class="mb-2 mb-md-0">Color</h4>
                              <div>
                                <h5><%= variants.length > 0 ? variants[0].color : 'N/A' %></h5>
                              </div>
                            </div>
                            
                            <!-- row -->
                            <div class="row">
                              <!-- col -->
                              <div class="col-md-6">
                                <div class="d-grid mb-2 mb-md-0">
                                  <!-- btn -->
                                  <a href="/admin/variantDetails/<%= variant._id %>" class="btn btn-primary">View Variant Details</a>
                                </div>
                              </div>
                              <!-- col -->
                              <div class="col-md-6">
                                <div class="d-grid">
                                  <!-- btn -->
                                  <a href="#!" class="btn btn-outline-secondary"><i
                                      class="fe fe-heart me-2"></i>Wishlist</a>
                                </div>
                              </div>
                            </div>
                            <hr class="mt-4 mb-2">
                            <div class=" mb-4" id="ecommerceAccordion">
                              <!-- List group -->

                              <ul class="list-group list-group-flush">

                                <!-- List group item -->
                                <li class="list-group-item px-0">
                                  <!-- Toggle -->
                                  <a class="d-flex align-items-center text-inherit text-decoration-none h4 mb-0"
                                    data-bs-toggle="collapse" href="#productDetails" role="button" aria-expanded="false"
                                    aria-controls="productDetails">
                                    <div class="me-auto">
                                      Product Details
                                    </div>
                                    <!-- Chevron -->
                                    <span class="chevron-arrow  ms-4">
                                      <i data-feather="chevron-down" class="icon-xs"></i>
                                    </span>
                                  </a>
                                  <!-- Row -->
                                  <!-- Collapse -->
                                  <div class="collapse " id="productDetails" data-bs-parent="#ecommerceAccordion">
                                    <div class="py-3 ">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisi magna,
                                        rhoncus in diam vel, aliquet volutpat nisl. Proin nisl dolor, sagittis vitae
                                        pulvinar eu, pharetra ultrices felis. </p>

                                      <!-- heading -->
                                      <h4>Features:</h4>
                                      <!-- list -->
                                      <ul>
                                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        </li>
                                        <li> Integer ut justo quis diam finibus lobortis vel at dui.
                                        </li>
                                        <li> Morbi ultricies leo sit amet nisl suscipit, et vulputate orci fringilla.
                                        </li>
                                        <li> Nullam sit amet lacus ut nibh pharetra rutrum venenatis ac purus.
                                        </li>
                                        <li> Sed ut arcu dapibus, viverra ex vitae, fermentum libero.
                                        </li>
                                        <li> Fusce eget mauris in elit ultricies vehicula.
                                        </li>
                                        <li> Vivamus tincidunt ligula id sollicitudin finibus.
                                        </li>
                                        <li>Nullam facilisis enim viverra nulla malesuada consequat.
                                        </li>
                                        <li>
                                          Nullam feugiat turpis ullamcorper augue fringilla, at facilisis magna
                                          dignissim.
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </li>
                                <!-- List group item -->
                                <li class="list-group-item px-0">
                                  <!-- Toggle -->
                                  <a class="d-flex align-items-center text-inherit text-decoration-none h4 mb-0"
                                    data-bs-toggle="collapse" href="#specifications" role="button" aria-expanded="false"
                                    aria-controls="specifications">
                                    <div class="me-auto">
                                      Specifications
                                    </div>
                                    <!-- Chevron -->
                                    <span class="chevron-arrow  ms-4">
                                      <i data-feather="chevron-down" class="icon-xs"></i>
                                    </span>
                                  </a>
                                  <!-- Row -->
                                  <!-- Collapse -->
                                  <div class="collapse " id="specifications" data-bs-parent="#ecommerceAccordion">
                                    <div class="py-3 ">
                                      <table class="table table-striped">
                                        <tbody>
                                          <tr>

                                            <th class="w-20">Sport</th>
                                            <td>Running</td>

                                          </tr>
                                          <tr>

                                            <th class="w-20">Material</th>
                                            <td>Mesh</td>

                                          </tr>
                                          <tr>

                                            <th class="w-20">Fastening</th>
                                            <td>Lace-Ups </td>

                                          </tr>
                                          <tr>

                                            <th class="w-20">Outsole Type</th>
                                            <td>Marking </td>

                                          </tr>
                                          <tr>

                                            <th class="w-20">Warranty</th>
                                            <td>3 months </td>

                                          </tr>

                                        </tbody>
                                      </table>


                                    </div>
                                  </div>
                                </li>
                                <li class="list-group-item px-0">
                                  <!-- Toggle -->
                                  <a class="d-flex align-items-center text-inherit text-decoration-none h4 mb-0"
                                    data-bs-toggle="collapse" href="#freeShippingPolicy" role="button"
                                    aria-expanded="false" aria-controls="freeShippingPolicy">
                                    <div class="me-auto">
                                      Free Shipping Policy
                                    </div>
                                    <!-- Chevron -->
                                    <span class="chevron-arrow  ms-4">
                                      <i data-feather="chevron-down" class="icon-xs"></i>
                                    </span>
                                  </a>
                                  <!-- Row -->
                                  <!-- Collapse -->
                                  <div class="collapse " id="freeShippingPolicy" data-bs-parent="#ecommerceAccordion">
                                    <div class="py-3 ">
                                      <p class="mb-0">The single most important criteria for a lot of first time
                                        customers. Lorem
                                        ipsum dolor sit amet consectetur adipiscing elit enean nisi magna rhoncus in
                                        diam vel, aliquet volutpat nisl.</p>

                                    </div>
                                  </div>
                                </li>
                                <li class="list-group-item px-0 border-bottom">
                                  <!-- Toggle -->
                                  <a class="d-flex align-items-center text-inherit text-decoration-none h4 mb-0"
                                    data-bs-toggle="collapse" href="#refundPolicy" role="button" aria-expanded="false"
                                    aria-controls="refundPolicy">
                                    <div class="me-auto">
                                      Refund Policy
                                    </div>
                                    <!-- Chevron -->
                                    <span class="chevron-arrow  ms-4">
                                      <i data-feather="chevron-down" class="icon-xs"></i>
                                    </span>
                                  </a>
                                  <!-- Row -->
                                  <!-- Collapse -->
                                  <div class="collapse " id="refundPolicy" data-bs-parent="#ecommerceAccordion">
                                    <div class="py-3 ">
                                      <p class="mb-0">A Return & Refund Policy is a policy that dictates under what
                                        conditions
                                        customers can return products they've purchased from your eCommerce
                                        store and whether you'll reimburse them or not.</p>

                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="mb-4">
                              <h3 class="mb-4">Ratings & Reviews</h3>
                              <div class="row align-items-center mb-4">
                                <div class="col-md-4 mb-4 mb-md-0">
                                  <!-- rating -->
                                  <h3 class="display-2 ">4.5</h3>
                                  <i class="bi bi-star-fill text-success"></i>
                                  <i class="bi bi-star-fill text-success"></i>
                                  <i class="bi bi-star-fill text-success"></i>
                                  <i class="bi bi-star-fill text-success"></i>
                                  <i class="bi bi-star-fill text-success"></i>
                                  <p class="mb-0">595 Verified Buyers</p>
                                </div>
                                <div class="offset-lg-1 col-lg-7 col-md-8">
                                  <!-- progress -->
                                  <div class="d-flex align-items-center mb-2">
                                    <div class="text-nowrap me-3 text-muted"><span
                                        class="d-inline-block align-middle text-muted">5</span><i
                                        class="bi bi-star-fill ms-1 fs-6"></i></div>
                                    <div class="w-100">
                                      <div class="progress" style="height: 6px;">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%;"
                                          aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </div><span class="text-muted ms-3">420</span>
                                  </div>
                                  <!-- progress -->
                                  <div class="d-flex align-items-center mb-2">
                                    <div class="text-nowrap me-3 text-muted"><span
                                        class="d-inline-block align-middle text-muted">4</span><i
                                        class="bi bi-star-fill ms-1 fs-6"></i></div>
                                    <div class="w-100">
                                      <div class="progress" style="height: 6px;">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%;"
                                          aria-valuenow="50" aria-valuemin="0" aria-valuemax="50"></div>
                                      </div>
                                    </div><span class="text-muted ms-3">90</span>
                                  </div>
                                  <!-- progress -->
                                  <div class="d-flex align-items-center mb-2">
                                    <div class="text-nowrap me-3 text-muted"><span
                                        class="d-inline-block align-middle text-muted">3</span><i
                                        class="bi bi-star-fill ms-1 fs-6"></i></div>
                                    <div class="w-100">
                                      <div class="progress" style="height: 6px;">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 35%;"
                                          aria-valuenow="35" aria-valuemin="0" aria-valuemax="35"></div>
                                      </div>
                                    </div><span class="text-muted ms-3">33</span>
                                  </div>
                                  <!-- progress -->
                                  <div class="d-flex align-items-center mb-2">
                                    <div class="text-nowrap me-3 text-muted"><span
                                        class="d-inline-block align-middle text-muted">2</span><i
                                        class="bi bi-star-fill ms-1 fs-6"></i></div>
                                    <div class="w-100">
                                      <div class="progress" style="height: 6px;">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 22%;"
                                          aria-valuenow="22" aria-valuemin="0" aria-valuemax="22"></div>
                                      </div>
                                    </div><span class="text-muted ms-3">12</span>
                                  </div>
                                  <!-- progress -->
                                  <div class="d-flex align-items-center mb-2">
                                    <div class="text-nowrap me-3 text-muted"><span
                                        class="d-inline-block align-middle text-muted">1</span><i
                                        class="bi bi-star-fill ms-1 fs-6"></i></div>
                                    <div class="w-100">
                                      <div class="progress" style="height: 6px;">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 14%;"
                                          aria-valuenow="14" aria-valuemin="0" aria-valuemax="14"></div>
                                      </div>
                                    </div><span class="text-muted ms-3">40</span>
                                  </div>

                                </div>
                              </div>
                              <div>
                                <!-- review -->
                                <div class="border-top py-4 mt-4">
                                  <div class="border d-inline-block px-2 py-1 rounded-pill mb-3">
                                    <!-- rating -->
                                    <span class="text-dark  ">4.4 <i
                                        class="bi bi-star-fill text-success fs-6"></i></span>
                                  </div>
                                  <!-- text -->
                                  <p>It's awesome , I never thought about Dash UI that awesome shoes.very pretty.</p>
                                  <div>
                                    <span>James Ennis</span>
                                    <span class="ms-4">28 Nov 2023</span>
                                  </div>
                                </div>
                                <div class="border-top py-4">
                                  <div class="border d-inline-block px-2 py-1 rounded-pill mb-3">
                                    <!-- rating -->
                                    <span class="text-dark  ">5.0 <i
                                        class="bi bi-star-fill text-success fs-6"></i></span>
                                  </div>
                                  <!-- text -->
                                  <p>Quality is more than good that I was expected for buying. I first time
                                    purchase Dash UI shoes & this brand is good. Thanks to Dash UI delivery
                                    was faster than fast ...Love Dash UI</p>
                                  <div>
                                    <span>Bradley Mouton</span>
                                    <span class="ms-4">21 Apr 2023
                                    </span>
                                  </div>
                                </div>
                                <div class="border-top py-4 border-bottom">

                                  <div class="border d-inline-block px-2 py-1 rounded-pill mb-3">
                                    <!-- rating -->
                                    <span class="text-dark  ">4.4 <i
                                        class="bi bi-star-fill text-success fs-6"></i></span>
                                  </div>
                                  <!-- text -->
                                  <p>Excellent shoes with original logo , Thanks Dash UI , Buy these shoes
                                    without any tension</p>
                                  <div class="mb-5">
                                    <!-- img -->
                                    <img src="/admin/assets/images/ecommerce/product-1.jpg" alt="Image"
                                      class="avatar-md rounded-2">
                                    <img src="/admin/assets/images/ecommerce/product-2.jpg" alt="Image"
                                      class="avatar-md rounded-2">
                                    <img src="/admin/assets/images/ecommerce/product-3.jpg" alt="Image"
                                      class="avatar-md rounded-2">
                                  </div>
                                  <div>
                                    <!-- text -->
                                    <span>Kieth J. Watson </span>
                                    <span class="ms-4">21 May 2023</span>
                                  </div>
                                </div>
                                <div class="my-3">
                                  <!-- btn-link -->
                                  <a href="#!" class="btn-link fw-semi-bold ">View all 89 reviews</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>

  <!-- Modal -->
  <div class="modal fade" id="addNewContactModal" tabindex="-1" aria-labelledby="addNewContactModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="addNewContactModalLabel">
            Add New Contact
          </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <div class="d-flex align-items-center">
              <img src="/admin/assets/images/avatar/avatar-11.jpg" alt="Image" class="avatar avatar-lg rounded-circle">
              <div class="ms-3">
                <a href="javascript:void(0);" class="btn btn-outline-white">Upload Photo</a>
              </div>
            </div>
            <div class="mt-5">
              <form>
                <div class="mb-3">
                  <label class="form-label" for="fname">Name</label>
                  <input type="text" class="form-control" placeholder="Enter Name" id="fname">
                </div>
                <div class="mb-3">
                  <label class="form-label" for="email">Email</label>
                  <input type="email" class="form-control" placeholder="Enter Email" id="email">
                </div>
                <div class="mb-3">
                  <label class="form-label" for="phone">Phone Number</label>
                  <input type="text" class="form-control" placeholder="Enter Phone" id="phone">
                </div>
                <div class="mb-3">
                  <label class="form-label" for="companyName">Company</label>
                  <input type="text" class="form-control" placeholder="Enter Company Name" id="companyName">
                </div>
                <div class="mb-3">
                  <label class="form-label" for="designation">Designation</label>
                  <input type="text" class="form-control" placeholder="Enter Designation" id="designation">
                </div>
                <div class="mb-3">
                  <label class="form-label" for="status">Lead Status</label>
                  <input type="text" class="form-control" placeholder="Status" id="status">
                </div>
                <div class="d-flex justify-content-end">
                  <a href="#!" class="btn btn-primary">+ Add Customer</a>
                  <a href="#!" class="btn btn-light ms-2">Close</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <!-- tns slider -->
  <script src="/admin/assets/libs/tiny-slider/dist/min/tiny-slider.js"></script>
  <!-- Libs JS -->
  <script src="/admin/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/admin/assets/libs/feather-icons/dist/feather.min.js"></script>
  <script src="/admin/assets/libs/simplebar/dist/simplebar.min.js"></script>

  <!-- Theme JS -->
  <script src="/admin/assets/js/theme.min.js"></script>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const productId = urlParams.get('productId');
  </script>

</body>

</html>