<!doctype html>
<html class="no-js" lang="zxx">



<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blackwood - Clean Minimal eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/users/assets_2/img/favicon.png">
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <!-- CSS here -->
    <link rel="stylesheet" href="/users/assets_2/css/preloader.css">
    <link rel="stylesheet" href="/users/assets_2/css/bootstrap.css">
    <link rel="stylesheet" href="/users/assets_2/css/meanmenu.css">
    <link rel="stylesheet" href="/users/assets_2/css/animate.css">
    <link rel="stylesheet" href="/users/assets_2/css/owl-carousel.css">
    <link rel="stylesheet" href="/users/assets_2/css/ui-range-slider.css">
    <link rel="stylesheet" href="/users/assets_2/css/swiper-bundle.css">
    <link rel="stylesheet" href="/users/assets_2/css/backtotop.css">
    <link rel="stylesheet" href="/users/assets_2/css/magnific-popup.css">
    <link rel="stylesheet" href="/users/assets_2/css/nice-select.css">
    <link rel="stylesheet" href="/users/assets_2/css/font-awesome-pro.css">
    <link rel="stylesheet" href="/users/assets_2/flaticon/flaticon.css">
    <link rel="stylesheet" href="/users/assets_2/css/default.css">
    <link rel="stylesheet" href="/users/assets_2/css/style.css">
    <link rel="stylesheet" href="/users/assets/css/style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>

    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand">MacHive</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
                aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    <li><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/shop">Shop</a>
                    </li>
                    <li><a class="nav-link" href="/views/users/about.ejs">About us</a></li>
                    <li><a class="nav-link" href="/views/users/contact.ejs">Contact us</a></li>
                </ul>

                <ul class=" custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li><a class="nav-link" href="/wishlist"><i class="fa-solid fa-heart"></i></a></li>
                    <li><a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a class="nav-link" href="/myAccount"><i class="fa-solid fa-user"></i></a></li>
                </ul>

                <ul class="custom-navbar-nav navbar-nav ">

                    <li><a class="nav-link login-nav" href="/sign-in">SIGN IN</a></li>

                </ul>

            </div>
        </div>

    </nav>


    <section class="product-details pt-90 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="product__modal-box d-flex">
                        <div class="product__modal-nav mr-20">
                            <nav>
                                <div class="nav nav-tabs" id="product-details" role="tablist">
                                    <a class="nav-item nav-link active" id="pro-one-tab" data-bs-toggle="tab"
                                        href="#pro-one" role="tab" aria-controls="pro-one" aria-selected="true">
                                        <div class="product__nav-img w-img">
                                            <img id="main-image" src="<%= products.image %>" alt=""
                                                class="zoomable-image">
                                        </div>
                                    </a>
                                    <br>
                                    <div class="product__thumbnail-container">
                                        <img class="thumbnail-image" src="/users/assets/images/black-iphone1.webp"
                                            alt="Thumbnail 2">
                                        <img class="thumbnail-image" src="/users/assets/images/black-iphone2.webp"
                                            alt="Thumbnail 2">
                                        <img class="thumbnail-image" src="/users/assets/images/black-iphone3.webp"
                                            alt="Thumbnail 2">
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <script>
                            document.addEventListener('DOMContentLoaded', (event) => {
                                const mainImage = document.getElementById('main-image');
                                const thumbnails = document.querySelectorAll('.thumbnail-image');

                                thumbnails.forEach(thumbnail => {
                                    thumbnail.addEventListener('click', () => {
                                        mainImage.src = thumbnail.src;
                                    });
                                });
                            });

                        </script>

                        <style>
                            .main-image {
                                width: 300px;
                                /* Adjust size as needed */
                                height: auto;
                            }

                            .product__thumbnail-container {
                                display: flex;
                                justify-content: center;
                                gap: 10px;
                            }

                            .thumbnail-image {
                                width: 150px;
                                /* Adjust size as needed */
                                height: 150px;
                                /* Adjust size as needed */
                                cursor: pointer;
                                border: 1px solid #ccc;
                                /* Optional: Add border for better visibility */
                                transition: border 0.3s;
                            }

                            .thumbnail-image:hover {
                                border: 1px solid #000;
                                /* Optional: Add hover effect */
                            }
                        </style>

                        <div class="tab-content mb-20" id="product-detailsContent">
                            <div class="tab-pane fade active show" id="pro-one" role="tabpanel"
                                aria-labelledby="pro-one-tab">
                                <div class="product__modal-img product__thumb w-img">
                                    <img src="assets/img/products/quick-view/quick-view-02-1.jpg" alt="">
                                    <div class="product__sale ">
                                        <span class="new">new</span>
                                        <span class="percent">-20%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pro-two" role="tabpanel" aria-labelledby="pro-two-tab">
                                <div class="product__modal-img product__thumb w-img">
                                    <img src="assets/img/products/quick-view/quick-view-02-2.jpg" alt="">
                                    <div class="product__sale ">
                                        <span class="new">new</span>
                                        <span class="percent">-13%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pro-three" role="tabpanel" aria-labelledby="pro-three-tab">
                                <div class="product__modal-img product__thumb w-img">
                                    <img src="assets/img/products/quick-view/quick-view-02-3.jpg" alt="">
                                    <div class="product__sale ">
                                        <span class="new">new</span>
                                        <span class="percent">-15%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="product__modal-content-2">
                        <h2>
                            <%= products.name %>
                        </h2>
                        <div class="rating rating-shop mb-15">
                            <ul>
                                <li><span><i class="fas fa-star"></i></span></li>
                                <li><span><i class="fas fa-star"></i></span></li>
                                <li><span><i class="fas fa-star"></i></span></li>
                                <li><span><i class="fas fa-star"></i></span></li>
                                <li><span><i class="fal fa-star"></i></span></li>
                            </ul>
                            <span class="rating-no ml-10 rating-left">3 rating(s)</span>
                            <span class="review rating-left"><a href="#">Add your Review</a></span>
                        </div>
                        <% function calculateDiscountPercentage(regularPrice, salePrice) { return (((regularPrice -
                            salePrice) / regularPrice) * 100).toFixed(2); } %>
                            <% if (variants.length> 0) { %>
                                <% const variant=variants[0]; %>
                                    <div class="product__price mb-25">
                                        <span id="price-amount">
                                            <%= variants[0].salePrice %>
                                        </span>
                                        <span class="old-price">
                                            <%= variant.regularPrice %>
                                        </span>
                                    </div>
                                    <% } %>
                                        <div class="product__modal-des mb-30">
                                            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem
                                                consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc
                                                putamus parum claram.</p>
                                        </div>

                                        <h4>Variants</h4>

                                        <div class="variants-container">
                                            <% variants.forEach(function(variant) { %>
                                                <div class="variant-wrapper"
                                                    style="position: relative; margin-bottom: 30px;">
                                                    <% if (variant.is_blocked || variant.stock===0) { %>
                                                        <div class="unavailable-text">
                                                            <% if (variant.stock===0) { %>
                                                                Out of Stock
                                                                <% } else { %>
                                                                    Unavailable
                                                                    <% } %>
                                                        </div>
                                                        <% } %>
                                                            <div class="variants-box <%= variant.is_blocked || variant.stock === 0 ? 'blurred' : '' %>"
                                                                data-variant-id="<%= variant.id %>"
                                                                data-price="<%= variant.salePrice %>"
                                                                style="border: 2px solid  #bfbfbf; padding: 10px; width: fit-content; cursor: pointer; position: relative;">
                                                                <div class="variant-option">
                                                                    <div
                                                                        class="product__details-color d-sm-flex align-items-center mb-25">
                                                                        <span>COLOR:&nbsp;<strong>
                                                                                <%= variant.color %>
                                                                            </strong></span>
                                                                    </div>
                                                                    <% if (products.categoryId.name==='Iphones' ||
                                                                        products.categoryId.name==='Macbooks' ) { %>
                                                                        <div
                                                                            class="product__details-size d-sm-flex align-items-center mb-30">
                                                                            <span>RAM:&nbsp;<strong>
                                                                                    <%= variant.ram %>&nbsp;GB
                                                                                </strong></span>
                                                                        </div>
                                                                        <div
                                                                            class="product__details-size d-sm-flex align-items-center mb-30">
                                                                            <span>ROM:&nbsp;<strong>
                                                                                    <%= variant.rom %>&nbsp;GB
                                                                                </strong></span>
                                                                        </div>
                                                                        <% } %>
                                                                </div>
                                                            </div>
                                                </div>
                                                <% }); %>
                                        </div>

                                        <style>
                                            .blurred {
                                                pointer-events: none;
                                                opacity: 0.15;
                                            }

                                            .unavailable-text {
                                                color: red;
                                                font-size: 14px;
                                                font-weight: bold;
                                                text-align: center;
                                                margin-top: -28px;
                                                margin-right: 14px;
                                            }

                                            .variant-wrapper {
                                                display: flex;
                                                flex-direction: column;
                                                align-items: center;
                                            }
                                        </style>

                                        <div class="pro-quan-area d-sm-flex align-items-center">
                                            <div class="pro-cart-btn">
                                                <a href="#" class="add-cart-btn mb-20"
                                                    data-product-id="<%= products.id %>">+ Add to Cart</a>
                                                <a href="#" class="add-wishlist-btn mb-20"
                                                    data-product-id="<%= products.id %>">+ Add to Wishlist</a>
                                            </div>
                                        </div>

                                        <input type="hidden" id="userId" value="<%= user ? user._id : '' %>">

                                        <div class="product__tag mb-25">
                                            <span class="ct mr-20">Category:</span>
                                            <span><a href="#">
                                                    <%= products.categoryId.name %>
                                                </a></span>
                                        </div>
                                        <div class="product__share">
                                            <span>Share :</span>
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-70">
                <div class="col-xl-12">
                    <div class="product__details-tab">
                        <div class="product__details-tab-nav text-center mb-45">
                            <nav>
                                <div class="nav nav-tabs justify-content-start justify-content-sm-center"
                                    id="pro-details" role="tablist">
                                    <a class="nav-item nav-link active" id="des-tab" data-bs-toggle="tab" href="#des"
                                        role="tab" aria-controls="des" aria-selected="true">Description</a>
                                    <a class="nav-item nav-link" id="add-tab" data-bs-toggle="tab" href="#add"
                                        role="tab" aria-controls="add" aria-selected="false">Additional
                                        Information</a>
                                    <a class="nav-item nav-link" id="review-tab" data-bs-toggle="tab" href="#review"
                                        role="tab" aria-controls="review" aria-selected="false">Reviews (3)</a>
                                </div>
                            </nav>
                        </div>
                        <div class="tab-content" id="pro-detailsContent">
                            <div class="tab-pane fade active show" id="des" role="tabpanel">
                                <div class="product__details-des mb-20">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s, when anunknown printer took a galley of type and scrambled it to make
                                        a type specimen book. It has survived not only five centuries, but also the
                                        leap into electronic typesetting, remaining essentially unchanged. It was
                                        popularised in the 1960s with the release of Letraset sheets containing
                                        Lorem Ipsum passages.</p>

                                    <div class="product__details-des-list mb-20">
                                        <ul>
                                            <li><span>Claritas est etiam processus dynamicus.</span></li>
                                            <li><span>Qui sequitur mutationem consuetudium lectorum.</span></li>
                                            <li><span>Claritas est etiam processus dynamicus.</span></li>
                                            <li><span>Qui sequitur mutationem consuetudium lectorum.</span></li>
                                            <li><span>Claritas est etiam processus dynamicus.</span></li>
                                            <li><span>Qui sequitur mutationem consuetudium lectorum.</span></li>
                                        </ul>
                                    </div>
                                    <p>It has survived not only five centuries, but also the leap into electronic
                                        typesetting, remaining essentially unchanged. It was popularised in the
                                        1960s with the release. Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has been the industry's</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="add" role="tabpanel">
                                <div class="product__desc-info mb-35">
                                    <ul>
                                        <li>
                                            <h6>Weight</h6>
                                            <span>2 lbs</span>
                                        </li>
                                        <li>
                                            <h6>Dimensions</h6>
                                            <span>12 × 16 × 19 in</span>
                                        </li>
                                        <li>
                                            <h6>Product</h6>
                                            <span>Purchase this product on rag-bone.com</span>
                                        </li>
                                        <li>
                                            <h6>Color</h6>
                                            <span>Gray, Black</span>
                                        </li>
                                        <li>
                                            <h6>Size</h6>
                                            <span>S, M, L, XL</span>
                                        </li>
                                        <li>
                                            <h6>Model</h6>
                                            <span>Model </span>
                                        </li>
                                        <li>
                                            <h6>Shipping</h6>
                                            <span>Standard shipping: $5,95</span>
                                        </li>
                                        <li>
                                            <h6>Care Info</h6>
                                            <span>Machine Wash up to 40ºC/86ºF Gentle Cycle</span>
                                        </li>
                                        <li>
                                            <h6>Brand</h6>
                                            <span>Kazen</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="review" role="tabpanel">
                                <div class="product__details-review mb-35">
                                    <div class="postbox__comments">
                                        <div class="postbox__comment-title mb-30">
                                            <h3>Reviews (03)</h3>
                                        </div>
                                        <div class="latest-comments mb-30">
                                            <ul>
                                                <li>
                                                    <div class="comments-box">
                                                        <div class="comments-avatar">
                                                            <img src="assets/img/author/avater-1.png" alt="">
                                                        </div>
                                                        <div class="comments-text">
                                                            <div class="avatar-name">
                                                                <h5>Siarhei Dzenisenka</h5>
                                                                <span> - 3 months ago </span>
                                                            </div>
                                                            <div class="user-rating">
                                                                <ul>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="fal fa-star"></i></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <p>Many desktop publishing packages and web page editors
                                                                now use Lorem Ipsum as their default model text, and
                                                                a search for <span>“lorem ipsum”</span> will uncover
                                                                many web sites still in their infancy. Various
                                                                versions have evolved over the years, sometimes by
                                                                accident, sometimes on purpose.</p>
                                                            <a class="reply-2" href="#">Leave Reply</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="children">
                                                    <div class="comments-box">
                                                        <div class="comments-avatar">
                                                            <img src="assets/img/author/avater-2.png" alt="">
                                                        </div>
                                                        <div class="comments-text">
                                                            <div class="avatar-name">
                                                                <h5>Julias Roy</h5>
                                                                <span> - 6 months ago </span>
                                                            </div>
                                                            <div class="user-rating">
                                                                <ul>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="fal fa-star"></i></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <p>Many desktop publishing packages and web page editors
                                                                now use Lorem Ipsum as their default model text, and
                                                                a search for <span>“lorem ipsum”</span> will uncover
                                                                many web sites still in their infancy. </p>
                                                            <a class="reply-2" href="#">Leave Reply</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="comments-box">
                                                        <div class="comments-avatar">
                                                            <img src="assets/img/author/avater-3.png" alt="">
                                                        </div>
                                                        <div class="comments-text">
                                                            <div class="avatar-name">
                                                                <h5>Arista Williamson</h5>
                                                                <span> - 6 months ago </span>
                                                            </div>
                                                            <div class="user-rating">
                                                                <ul>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a>
                                                                    </li>
                                                                    <li><a href="#"><i class="fal fa-star"></i></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <p>Many desktop publishing packages and web page editors
                                                                now use Lorem Ipsum as their default model text, and
                                                                a search for <span>“lorem ipsum”</span> will uncover
                                                                many web sites still in their infancy. Various
                                                                versions have evolved over the years, sometimes by
                                                                accident, sometimes on purpose.</p>
                                                            <a class="reply-2" href="#">Leave Reply</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post-comments-form">
                                        <div class="post-comments-title mb-30">
                                            <h3>Your Review</h3>
                                            <div class="post-rating">
                                                <span>Your Rating :</span>
                                                <ul class="ml-5">
                                                    <li>
                                                        <a href="#">
                                                            <i class="fal fa-star"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fal fa-star"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fal fa-star"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fal fa-star"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fal fa-star"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <form id="contacts-form" class="conatct-post-form" action="#">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6">
                                                    <div class="contact-icon p-relative contacts-name">
                                                        <input type="text" placeholder="Name">
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6">
                                                    <div class="contact-icon p-relative contacts-name">
                                                        <input type="email" placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="contact-icon p-relative contacts-email">
                                                        <input type="text" placeholder="Subject">
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="contact-icon p-relative contacts-message">
                                                        <textarea name="comments" id="comments" cols="30" rows="10"
                                                            placeholder="Comments"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <button class="add-cart-btn" type="submit">Post comment</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-50">
                <div class="col-xl-12">
                    <div class="trending__info text-center">
                        <h5>Trending Products</h5>
                        <p>Mirum est notare quam littera gothica quam nunc putamus parum claram!</p>
                    </div>
                </div>
            </div>
            <div class="row mt-40">
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="product__item mb-20">
                        <div class="product__thumb w-img fix">
                            <a href="product-details.html">
                                <img src="assets/img/products/product-2/product-3.jpg" alt="">
                            </a>
                            <div class="product__flash-4">
                                <span>20%</span>
                            </div>
                            <div class="product__action transition-3">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <svg viewBox="0 0 22 22">
                                                <g>
                                                    <path d="M18,19H6c-0.5,0-0.92-0.37-0.99-0.86L3.13,5H1C0.45,5,0,4.55,0,4s0.45-1,1-1h3c0.5,0,0.92,0.37,0.99,0.86L6.87,17h10.39
                                                        l2.4-8H11c-0.55,0-1-0.45-1-1s0.45-1,1-1h10c0.32,0,0.61,0.15,0.8,0.4c0.19,0.25,0.25,0.58,0.16,0.88l-3,10
                                                        C18.83,18.71,18.44,19,18,19z"></path>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg viewBox="0 0 22 22">
                                                <path
                                                    d="M20.26,11.3c2.31-2.36,2.31-6.18-0.02-8.53C19.11,1.63,17.6,1,16,1c0,0,0,0,0,0c-1.57,0-3.05,0.61-4.18,1.71c0,0,0,0,0,0
                                                    L11,3.41l-0.81-0.69c0,0,0,0,0,0C9.06,1.61,7.58,1,6,1C4.4,1,2.89,1.63,1.75,2.77c-2.33,2.35-2.33,6.17-0.02,8.53
                                                    c0,0,0,0.01,0.01,0.01l0.01,0.01c0,0,0,0,0,0c0,0,0,0,0,0L11,20.94l9.25-9.62c0,0,0,0,0,0c0,0,0,0,0,0L20.26,11.3
                                                    C20.26,11.31,20.26,11.3,20.26,11.3z M3.19,9.92C3.18,9.92,3.18,9.92,3.19,9.92C3.18,9.92,3.18,9.91,3.18,9.91
                                                    c-1.57-1.58-1.57-4.15,0-5.73C3.93,3.42,4.93,3,6,3c1.07,0,2.07,0.42,2.83,1.18C8.84,4.19,8.85,4.2,8.86,4.21
                                                    c0.01,0.01,0.01,0.02,0.03,0.03l1.46,1.25c0.07,0.06,0.14,0.09,0.22,0.13c0.01,0,0.01,0.01,0.02,0.01c0.13,0.06,0.27,0.1,0.41,0.1
                                                    c0.08,0,0.16-0.03,0.25-0.05c0.03-0.01,0.07-0.01,0.1-0.02c0.07-0.03,0.13-0.07,0.2-0.11c0.03-0.02,0.07-0.03,0.1-0.06l1.46-1.24
                                                    c0.01-0.01,0.02-0.02,0.03-0.03c0.01-0.01,0.03-0.01,0.04-0.02C13.93,3.42,14.93,3,16,3c0,0,0,0,0,0c1.07,0,2.07,0.42,2.83,1.18
                                                    c1.56,1.58,1.56,4.15,0,5.73c0,0,0,0.01-0.01,0.01c0,0,0,0,0,0L11,18.06L3.19,9.92z">
                                                </path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-bs-toggle="modal"
                                            data-bs-target="#productModalId">
                                            <svg viewBox="0 0 22 22">
                                                <path d="M11,19c-6.53,0-10.42-7.23-10.58-7.53L0.17,11l0.25-0.47C0.58,10.23,4.47,3,11,3s10.42,7.23,10.58,7.53L21.83,11l-0.25,0.47
                                                    C21.42,11.77,17.53,19,11,19z M2.46,11c0.92,1.49,4.08,6,8.54,6c4.48,0,7.63-4.51,8.54-6C18.62,9.52,15.46,5,11,5
                                                    C6.52,5,3.37,9.51,2.46,11z M11,15c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S13.21,15,11,15z M11,9c-1.1,0-2,0.9-2,2s0.9,2,2,2
                                                    s2-0.9,2-2S12.1,9,11,9z"></path>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product__content">
                            <div class="product__tag product__tag-4">
                                <span>
                                    <a href="shop.html">Furniture</a>
                                </span>
                            </div>
                            <h3 class="product__title">
                                <a href="product-details.html">Wooden Single Drawer</a>
                            </h3>
                            <div class="product__price product__price-4 mb-10">
                                <span class="price">$125.00</span>
                            </div>
                            <div class="product__select-button">
                                <a href="product-details.html" class="select-btn w-100">Select Options</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="product__item mb-20">
                        <div class="product__thumb w-img fix">
                            <a href="product-details.html">
                                <img src="assets/img/products/product-2/product-1.jpg" alt="">
                            </a>
                            <div class="product__action transition-3">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <svg viewBox="0 0 22 22">
                                                <g>
                                                    <path d="M18,19H6c-0.5,0-0.92-0.37-0.99-0.86L3.13,5H1C0.45,5,0,4.55,0,4s0.45-1,1-1h3c0.5,0,0.92,0.37,0.99,0.86L6.87,17h10.39
                                                        l2.4-8H11c-0.55,0-1-0.45-1-1s0.45-1,1-1h10c0.32,0,0.61,0.15,0.8,0.4c0.19,0.25,0.25,0.58,0.16,0.88l-3,10
                                                        C18.83,18.71,18.44,19,18,19z"></path>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg viewBox="0 0 22 22">
                                                <path
                                                    d="M20.26,11.3c2.31-2.36,2.31-6.18-0.02-8.53C19.11,1.63,17.6,1,16,1c0,0,0,0,0,0c-1.57,0-3.05,0.61-4.18,1.71c0,0,0,0,0,0
                                                    L11,3.41l-0.81-0.69c0,0,0,0,0,0C9.06,1.61,7.58,1,6,1C4.4,1,2.89,1.63,1.75,2.77c-2.33,2.35-2.33,6.17-0.02,8.53
                                                    c0,0,0,0.01,0.01,0.01l0.01,0.01c0,0,0,0,0,0c0,0,0,0,0,0L11,20.94l9.25-9.62c0,0,0,0,0,0c0,0,0,0,0,0L20.26,11.3
                                                    C20.26,11.31,20.26,11.3,20.26,11.3z M3.19,9.92C3.18,9.92,3.18,9.92,3.19,9.92C3.18,9.92,3.18,9.91,3.18,9.91
                                                    c-1.57-1.58-1.57-4.15,0-5.73C3.93,3.42,4.93,3,6,3c1.07,0,2.07,0.42,2.83,1.18C8.84,4.19,8.85,4.2,8.86,4.21
                                                    c0.01,0.01,0.01,0.02,0.03,0.03l1.46,1.25c0.07,0.06,0.14,0.09,0.22,0.13c0.01,0,0.01,0.01,0.02,0.01c0.13,0.06,0.27,0.1,0.41,0.1
                                                    c0.08,0,0.16-0.03,0.25-0.05c0.03-0.01,0.07-0.01,0.1-0.02c0.07-0.03,0.13-0.07,0.2-0.11c0.03-0.02,0.07-0.03,0.1-0.06l1.46-1.24
                                                    c0.01-0.01,0.02-0.02,0.03-0.03c0.01-0.01,0.03-0.01,0.04-0.02C13.93,3.42,14.93,3,16,3c0,0,0,0,0,0c1.07,0,2.07,0.42,2.83,1.18
                                                    c1.56,1.58,1.56,4.15,0,5.73c0,0,0,0.01-0.01,0.01c0,0,0,0,0,0L11,18.06L3.19,9.92z">
                                                </path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-bs-toggle="modal"
                                            data-bs-target="#productModalId">
                                            <svg viewBox="0 0 22 22">
                                                <path d="M11,19c-6.53,0-10.42-7.23-10.58-7.53L0.17,11l0.25-0.47C0.58,10.23,4.47,3,11,3s10.42,7.23,10.58,7.53L21.83,11l-0.25,0.47
                                                    C21.42,11.77,17.53,19,11,19z M2.46,11c0.92,1.49,4.08,6,8.54,6c4.48,0,7.63-4.51,8.54-6C18.62,9.52,15.46,5,11,5
                                                    C6.52,5,3.37,9.51,2.46,11z M11,15c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S13.21,15,11,15z M11,9c-1.1,0-2,0.9-2,2s0.9,2,2,2
                                                    s2-0.9,2-2S12.1,9,11,9z"></path>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product__content">
                            <div class="product__tag product__tag-4">
                                <span>
                                    <a href="shp.html">LIVING ROOM</a>
                                </span>
                            </div>
                            <h3 class="product__title">
                                <a href="product-details.html">Smart Watches Wood</a>
                            </h3>
                            <div class="product__price product__price-4 mb-10">
                                <span class="price"><del>$155.00</del> $140.00</span>
                            </div>
                            <div class="product__select-button">
                                <a href="product-details.html" class="select-btn w-100">Select Options</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="product__item mb-20">
                        <div class="product__thumb w-img fix">
                            <a href="product-details.html">
                                <img src="assets/img/products/product-2/product-2.jpg" alt="">
                            </a>
                            <div class="product__action transition-3">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <svg viewBox="0 0 22 22">
                                                <g>
                                                    <path d="M18,19H6c-0.5,0-0.92-0.37-0.99-0.86L3.13,5H1C0.45,5,0,4.55,0,4s0.45-1,1-1h3c0.5,0,0.92,0.37,0.99,0.86L6.87,17h10.39
                                                        l2.4-8H11c-0.55,0-1-0.45-1-1s0.45-1,1-1h10c0.32,0,0.61,0.15,0.8,0.4c0.19,0.25,0.25,0.58,0.16,0.88l-3,10
                                                        C18.83,18.71,18.44,19,18,19z"></path>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg viewBox="0 0 22 22">
                                                <path
                                                    d="M20.26,11.3c2.31-2.36,2.31-6.18-0.02-8.53C19.11,1.63,17.6,1,16,1c0,0,0,0,0,0c-1.57,0-3.05,0.61-4.18,1.71c0,0,0,0,0,0
                                                    L11,3.41l-0.81-0.69c0,0,0,0,0,0C9.06,1.61,7.58,1,6,1C4.4,1,2.89,1.63,1.75,2.77c-2.33,2.35-2.33,6.17-0.02,8.53
                                                    c0,0,0,0.01,0.01,0.01l0.01,0.01c0,0,0,0,0,0c0,0,0,0,0,0L11,20.94l9.25-9.62c0,0,0,0,0,0c0,0,0,0,0,0L20.26,11.3
                                                    C20.26,11.31,20.26,11.3,20.26,11.3z M3.19,9.92C3.18,9.92,3.18,9.92,3.19,9.92C3.18,9.92,3.18,9.91,3.18,9.91
                                                    c-1.57-1.58-1.57-4.15,0-5.73C3.93,3.42,4.93,3,6,3c1.07,0,2.07,0.42,2.83,1.18C8.84,4.19,8.85,4.2,8.86,4.21
                                                    c0.01,0.01,0.01,0.02,0.03,0.03l1.46,1.25c0.07,0.06,0.14,0.09,0.22,0.13c0.01,0,0.01,0.01,0.02,0.01c0.13,0.06,0.27,0.1,0.41,0.1
                                                    c0.08,0,0.16-0.03,0.25-0.05c0.03-0.01,0.07-0.01,0.1-0.02c0.07-0.03,0.13-0.07,0.2-0.11c0.03-0.02,0.07-0.03,0.1-0.06l1.46-1.24
                                                    c0.01-0.01,0.02-0.02,0.03-0.03c0.01-0.01,0.03-0.01,0.04-0.02C13.93,3.42,14.93,3,16,3c0,0,0,0,0,0c1.07,0,2.07,0.42,2.83,1.18
                                                    c1.56,1.58,1.56,4.15,0,5.73c0,0,0,0.01-0.01,0.01c0,0,0,0,0,0L11,18.06L3.19,9.92z">
                                                </path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-bs-toggle="modal"
                                            data-bs-target="#productModalId">
                                            <svg viewBox="0 0 22 22">
                                                <path d="M11,19c-6.53,0-10.42-7.23-10.58-7.53L0.17,11l0.25-0.47C0.58,10.23,4.47,3,11,3s10.42,7.23,10.58,7.53L21.83,11l-0.25,0.47
                                                    C21.42,11.77,17.53,19,11,19z M2.46,11c0.92,1.49,4.08,6,8.54,6c4.48,0,7.63-4.51,8.54-6C18.62,9.52,15.46,5,11,5
                                                    C6.52,5,3.37,9.51,2.46,11z M11,15c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S13.21,15,11,15z M11,9c-1.1,0-2,0.9-2,2s0.9,2,2,2
                                                    s2-0.9,2-2S12.1,9,11,9z"></path>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product__content">
                            <div class="product__tag product__tag-4">
                                <span>
                                    <a href="shop.html">Wooden</a>
                                </span>
                            </div>
                            <h3 class="product__title">
                                <a href="product-details.html">Panton Tunior Chair</a>
                            </h3>
                            <div class="product__price product__price-4 mb-10">
                                <span class="price">$199.00</span>
                            </div>
                            <div class="product__select-button">
                                <a href="product-details.html" class="select-btn w-100">Select Options</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6">
                    <div class="product__item mb-20">
                        <div class="product__thumb w-img fix">
                            <a href="product-details.html">
                                <img src="assets/img/products/product-2/product-4.jpg" alt="">
                            </a>
                            <div class="product__action transition-3">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <svg viewBox="0 0 22 22">
                                                <g>
                                                    <path d="M18,19H6c-0.5,0-0.92-0.37-0.99-0.86L3.13,5H1C0.45,5,0,4.55,0,4s0.45-1,1-1h3c0.5,0,0.92,0.37,0.99,0.86L6.87,17h10.39
                                                        l2.4-8H11c-0.55,0-1-0.45-1-1s0.45-1,1-1h10c0.32,0,0.61,0.15,0.8,0.4c0.19,0.25,0.25,0.58,0.16,0.88l-3,10
                                                        C18.83,18.71,18.44,19,18,19z"></path>
                                                </g>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg viewBox="0 0 22 22">
                                                <path
                                                    d="M20.26,11.3c2.31-2.36,2.31-6.18-0.02-8.53C19.11,1.63,17.6,1,16,1c0,0,0,0,0,0c-1.57,0-3.05,0.61-4.18,1.71c0,0,0,0,0,0
                                                    L11,3.41l-0.81-0.69c0,0,0,0,0,0C9.06,1.61,7.58,1,6,1C4.4,1,2.89,1.63,1.75,2.77c-2.33,2.35-2.33,6.17-0.02,8.53
                                                    c0,0,0,0.01,0.01,0.01l0.01,0.01c0,0,0,0,0,0c0,0,0,0,0,0L11,20.94l9.25-9.62c0,0,0,0,0,0c0,0,0,0,0,0L20.26,11.3
                                                    C20.26,11.31,20.26,11.3,20.26,11.3z M3.19,9.92C3.18,9.92,3.18,9.92,3.19,9.92C3.18,9.92,3.18,9.91,3.18,9.91
                                                    c-1.57-1.58-1.57-4.15,0-5.73C3.93,3.42,4.93,3,6,3c1.07,0,2.07,0.42,2.83,1.18C8.84,4.19,8.85,4.2,8.86,4.21
                                                    c0.01,0.01,0.01,0.02,0.03,0.03l1.46,1.25c0.07,0.06,0.14,0.09,0.22,0.13c0.01,0,0.01,0.01,0.02,0.01c0.13,0.06,0.27,0.1,0.41,0.1
                                                    c0.08,0,0.16-0.03,0.25-0.05c0.03-0.01,0.07-0.01,0.1-0.02c0.07-0.03,0.13-0.07,0.2-0.11c0.03-0.02,0.07-0.03,0.1-0.06l1.46-1.24
                                                    c0.01-0.01,0.02-0.02,0.03-0.03c0.01-0.01,0.03-0.01,0.04-0.02C13.93,3.42,14.93,3,16,3c0,0,0,0,0,0c1.07,0,2.07,0.42,2.83,1.18
                                                    c1.56,1.58,1.56,4.15,0,5.73c0,0,0,0.01-0.01,0.01c0,0,0,0,0,0L11,18.06L3.19,9.92z">
                                                </path>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" data-bs-toggle="modal"
                                            data-bs-target="#productModalId">
                                            <svg viewBox="0 0 22 22">
                                                <path d="M11,19c-6.53,0-10.42-7.23-10.58-7.53L0.17,11l0.25-0.47C0.58,10.23,4.47,3,11,3s10.42,7.23,10.58,7.53L21.83,11l-0.25,0.47
                                                    C21.42,11.77,17.53,19,11,19z M2.46,11c0.92,1.49,4.08,6,8.54,6c4.48,0,7.63-4.51,8.54-6C18.62,9.52,15.46,5,11,5
                                                    C6.52,5,3.37,9.51,2.46,11z M11,15c-2.21,0-4-1.79-4-4s1.79-4,4-4s4,1.79,4,4S13.21,15,11,15z M11,9c-1.1,0-2,0.9-2,2s0.9,2,2,2
                                                    s2-0.9,2-2S12.1,9,11,9z"></path>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product__content">
                            <div class="product__tag product__tag-4">
                                <span>
                                    <a href="shp.html">LIVING ROOM</a>
                                </span>
                            </div>
                            <h3 class="product__title">
                                <a href="product-details.html">Smart Watches Wood</a>
                            </h3>
                            <div class="product__price product__price-4 mb-10">
                                <span class="price"><del>$155</del> $140.00</span>
                            </div>
                            <div class="product__select-button">
                                <a href="product-details.html" class="select-btn w-100">Select Options</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product-details-end -->

    <!-- shop modal start -->
    <div class="modal fade" id="productModalId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-box">
                                    <div class="tab-content" id="modalTabContent">
                                        <div class="tab-pane fade show active" id="nav1" role="tabpanel"
                                            aria-labelledby="nav1-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="assets/img/products/quick-view/quick-view-1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav2" role="tabpanel" aria-labelledby="nav2-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="assets/img/products/quick-view/quick-view-2.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav3" role="tabpanel" aria-labelledby="nav3-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="assets/img/products/quick-view/quick-view-3.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav4" role="tabpanel" aria-labelledby="nav4-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="assets/img/products/quick-view/quick-view-4.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="nav1-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav1" type="button" role="tab" aria-controls="nav1"
                                                aria-selected="true">
                                                <img src="assets/img/products/quick-view/nav/quick-nav-1.jpg" alt="">
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav2-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav2" type="button" role="tab" aria-controls="nav2"
                                                aria-selected="false">
                                                <img src="assets/img/products/quick-view/nav/quick-nav-2.jpg" alt="">
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav3-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav3" type="button" role="tab" aria-controls="nav3"
                                                aria-selected="false">
                                                <img src="assets/img/products/quick-view/nav/quick-nav-3.jpg" alt="">
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav4-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav4" type="button" role="tab" aria-controls="nav4"
                                                aria-selected="false">
                                                <img src="assets/img/products/quick-view/nav/quick-nav-4.jpg" alt="">
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop modal end -->

    </main>

    <!-- footer area start -->
    <footer>
        <div class="footer__area footer-bg">
            <div class="footer__top footer__top-space pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6">
                            <div class="footer__widget pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">Need help</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__contact">
                                        <h3 class="footer__contact-phone"><a href="tel:1234-5678-90">(+80) 1234 5678
                                                90</a></h3>
                                        <div class="footer__opening mb-15">
                                            <p>Monday - Friday: 9:00-20:00</p>
                                            <p>Saturady: 11:00 - 15:00</p>
                                        </div>
                                        <div class="footer__contact-email footer__contact-email-2">
                                            <p><a
                                                    href="https://wphix.com/cdn-cgi/l/email-protection#7614171a151d0119191236050306061904025815191b"><span
                                                        class="__cf_email__"
                                                        data-cfemail="0260636e6169756d6d6642717772726d70762c616d6f">[email&#160;protected]</span></a>
                                            </p>
                                        </div>
                                        <div class="footer__social footer__social-3">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-youtube"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="fab fa-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="footer__widget footer-col-3 pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">Useful Links</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__links footer__links-2">
                                        <ul>
                                            <li>
                                                <a href="contact.html">Privacy Policy</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Returns</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Terms & Conditions</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Contact Us</a>
                                            </li>
                                            <li>
                                                <a href="blog-details.html">Latest News</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Our Sitemap</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="footer__widget footer-col-4 pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">Our Stores</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__links footer__links-2">
                                        <ul>
                                            <li>
                                                <a href="about.html">New York</a>
                                            </li>
                                            <li>
                                                <a href="about.html">London SF</a>
                                            </li>
                                            <li>
                                                <a href="about.html">Cockfosters BP</a>
                                            </li>
                                            <li>
                                                <a href="#">Los Angeles</a>
                                            </li>
                                            <li>
                                                <a href="about.html">Chicago</a>
                                            </li>
                                            <li>
                                                <a href="about.html">Las Vegas</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="footer__widget footer-col-5 pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">My Account</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__links footer__links-2">
                                        <ul>
                                            <li>
                                                <a href="contact.html">My Account</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Order History</a>
                                            </li>
                                            <li>
                                                <a href="wishlist.html">Wish List</a>
                                            </li>
                                            <li>
                                                <a href="contact.htmcontact.html">Newsletter</a>
                                            </li>
                                            <li><a href="contact.html">Shipping & Returns</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="footer__widget footer-col-5 pb-30">
                                <h3 class="footer__widget-title footer__widget-title-3">Customer Service</h3>
                                <div class="footer__widget-content">
                                    <div class="footer__links footer__links-2">
                                        <ul>
                                            <li>
                                                <a href="contact.html">Search Terms</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Advanced Search</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Help & FAQs</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Furniture Expert</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Our Sitemap</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Find A Store</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__offer">
                <div class="container">
                    <div class="footer__offer-inner footer__offer-inner-2">
                        <div class="row align-items-center">
                            <div class="col-xxl-6 col-lg-6 col-md-6">
                                <div class="footer__subscribe footer__subscribe-3">
                                    <p>Sign up for our Newsletter</p>
                                    <form action="#">
                                        <div class="footer__subscribe-input">
                                            <input type="email" placeholder="Enter Email ID ...">
                                            <button type="submit"><i class="fab fa-telegram-plane"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-xxl-6 col-lg-6 col-md-6">
                                <div class="payment-image-2 text-md-end">
                                    <a href="#"><img src="assets/img/payment/payment-2.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-12">
                            <div class="footer__bottom-wrapper text-center">
                                <div class="footer__bottom-links">
                                    <ul>
                                        <li>
                                            <a href="about.html">About Us</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Delivery Information</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Privacy Policy</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Terms & Conditions</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Site Map</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer__copyright">
                                    <p>Copyright ©2022 <a href="index.html">Blackwood.com</a> All Rights Reserved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;400&display=swap" rel="stylesheet">

    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/users/assets_2/js/vendor/jquery.js"></script>
    <script src="/users/assets_2/js/vendor/waypoints.js"></script>
    <script src="/users/assets_2/js/bootstrap-bundle.js"></script>
    <script src="/users/assets_2/js/meanmenu.js"></script>
    <script src="/users/assets_2/js/swiper-bundle.js"></script>
    <script src="/users/assets_2/js/owl-carousel.js"></script>
    <script src="/users/assets_2/js/jquery-ui-slider-range.js"></script>
    <script src="/users/assets_2/js/magnific-popup.js"></script>
    <script src="/users/assets_2/js/parallax.js"></script>
    <script src="/users/assets_2/js/backtotop.js"></script>
    <script src="/users/assets_2/js/nice-select.js"></script>
    <script src="/users/assets_2/js/counterup.js"></script>
    <script src="/users/assets_2/js/countdown.js"></script>
    <script src="/users/assets_2/js/wow.js"></script>
    <script src="/users/assets_2/js/isotope-pkgd.js"></script>
    <script src="/users/assets_2/js/imagesloaded-pkgd.js"></script>
    <script src="/users/assets_2/js/ajax-form.js"></script>
    <script src="/users/assets_2/js/main.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const variantOptions = document.querySelectorAll('.variant-option');
            const priceDisplay = document.getElementById('price-amount');

            variantOptions.forEach(option => {
                option.addEventListener('click', function () {
                    const price = this.getAttribute('data-price');
                    priceDisplay.textContent = price;

                    variantOptions.forEach(opt => opt.classList.remove('active-variant'));

                    this.classList.add('active-variant');
                });
            });
        });


        document.addEventListener('DOMContentLoaded', function () {
            const variantBoxes = document.querySelectorAll('.variants-box');
            const priceDisplay = document.getElementById('price-amount');
            const defaultVariantId = variantBoxes.length > 0 ? variantBoxes[0].getAttribute('data-variant-id') : null;
            const defaultVariantPrice = variantBoxes.length > 0 ? variantBoxes[0].getAttribute('data-price') : null;
            let selectedBox = null;

            function updatePriceAndUrl(variantId, price) {
                priceDisplay.textContent = price;

                const url = new URL(window.location);
                url.searchParams.set('variantId', variantId);
                window.history.pushState({}, '', url);
            }

            function updateSelectedBox(box) {
                if (selectedBox) {
                    selectedBox.classList.remove('selected-variant');
                }
                box.classList.add('selected-variant');
                selectedBox = box;
            }

            variantBoxes.forEach(box => {
                box.addEventListener('click', function () {
                    const price = this.getAttribute('data-price');
                    const variantId = this.getAttribute('data-variant-id');
                    updatePriceAndUrl(variantId, price);
                    updateSelectedBox(this);
                });
            });

            const urlParams = new URLSearchParams(window.location.search);
            let variantId = urlParams.get('variantId');

            if (!variantId && defaultVariantId) {
                variantId = defaultVariantId;
                updatePriceAndUrl(defaultVariantId, defaultVariantPrice);
                const defaultBox = document.querySelector(`.variants-box[data-variant-id="${defaultVariantId}"]`);
                if (defaultBox) {
                    updateSelectedBox(defaultBox);
                }
            }

            if (variantId) {
                const selectedBox = document.querySelector(`.variants-box[data-variant-id="${variantId}"]`);
                if (selectedBox) {
                    const price = selectedBox.getAttribute('data-price');
                    updatePriceAndUrl(variantId, price);
                    updateSelectedBox(selectedBox);
                }
            }
        });


        document.addEventListener('DOMContentLoaded', () => {
            const images = document.querySelectorAll('.zoomable-image');
            const zoomedImageContainer = document.getElementById('zoomed-image-container');
            const zoomedImage = document.getElementById('zoomed-image');

            images.forEach(image => {
                image.addEventListener('mousemove', function (e) {
                    const rect = image.getBoundingClientRect();
                    const x = e.clientX - rect.left;
                    const y = e.clientY - rect.top;

                    zoomedImage.src = image.src;
                    zoomedImageContainer.style.display = 'block';

                    const zoomFactor = 2;
                    const zoomX = x * zoomFactor - zoomedImageContainer.offsetWidth / 2;
                    const zoomY = y * zoomFactor - zoomedImageContainer.offsetHeight / 2;

                    zoomedImage.style.transform = `translate(${-zoomX}px, ${-zoomY}px)`;
                });

                image.addEventListener('mouseleave', function () {
                    zoomedImageContainer.style.display = 'none';
                });
            });
        });


        document.querySelectorAll('.add-cart-btn').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                const productId = event.target.getAttribute('data-product-id');
                const variantBox = document.querySelector('.variants-box');
                const productVariantId = variantBox ? variantBox.getAttribute('data-variant-id') : productId;
                const quantity = '1';

                fetch('/cart?variantId=' + productVariantId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ productVariantId, quantity }),
                })
                    .then(response => {
                        if (response.status === 401) {
                            window.location.href = '/sign-in';
                            return;
                        } else if (!response.ok) {
                            return response.json().then(data => {
                                throw new Error(data.message || 'Failed to add product to cart.');
                            });
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            if (data.alreadyExists) {
                                Swal.fire({
                                    toast: true,
                                    position: 'top-end',
                                    icon: 'warning',
                                    title: 'Product is already in your cart!',
                                    showConfirmButton: false,
                                    timer: 3000,
                                    timerProgressBar: true,
                                });
                            } else {
                                Swal.fire({
                                    title: 'Success!',
                                    text: 'Product added to cart successfully!',
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                });
                            }
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        Swal.fire({
                            title: 'Error!',
                            text: error.message,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    });
            });
        });

        document.querySelectorAll('.add-wishlist-btn').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                const productId = event.target.getAttribute('data-product-id');
                const variantBox = document.querySelector('.variants-box');
                const productVariantId = variantBox ? variantBox.getAttribute('data-variant-id') : productId;
                const quantity = '1';

                fetch('/wishlist', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ productVariantId, quantity }),
                })
                    .then(response => {
                        if (response.status === 401) {
                            window.location.href = '/sign-in';
                            return;
                        } else if (!response.ok) {
                            return response.json().then(data => {
                                throw new Error(data.message || 'Failed to add product to wishlist.');
                            });
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            if (data.alreadyExists) {
                                Swal.fire({
                                    toast: true,
                                    position: 'top-end',
                                    icon: 'warning',
                                    title: 'Product is already in your wishlist!',
                                    showConfirmButton: false,
                                    timer: 3000,
                                    timerProgressBar: true,
                                });
                            } else {
                                Swal.fire({
                                    title: 'Success!',
                                    text: 'Product added to wishlist successfully!',
                                    icon: 'success',
                                    confirmButtonText: 'OK'
                                });
                            }
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        Swal.fire({
                            title: 'Error!',
                            text: error.message,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    });
            });
        });



    </script>

</body>

</html>